/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

.container{
    max-width: 1200px;
    margin: auto;
}

/* DEBUG */

.debug header{
    background-color: #add8e6;
}
.debug .header-top{
    background-color: #daa520;
    border: 2px dashed black;

}
.debug hero{
    background-color: #00008b;
}
.debug .hero{
    background-color: #ee82ee;
    border: 2px dashed black;
    width: 50%;
}

/* HEADER */

header{
    padding: 15px 0px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

/* HERO */

hero{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    height: 300px;
}

/* MAIN */
/* FOOTER */