/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

.container{
    max-width: 1200px;
    margin: auto;
}

/* DEBUG */

.debug header{
    background-color: #add8e6;
}
.debug .header-top{
    background-color: #daa520;
    border: 2px dashed black;

}

.debug hero{
    background-color: #00008b;
    height: 400px;

}
.debug .hero{
    background-color: #ee82ee;
    border: 2px dashed black;
    width: 50%;
    height: 100%;
}

.debug .row{
    height: 400px;
}
.debug .row-big{
    height: 800px;
}
.debug .col-big{
    background-color: #1e90ff;
    border: 2px dashed black;
}
.debug .col-small{
    background-color: #ffc0cb;
    border: 2px dashed black;
}
.debug .col-alone{
    background-color: #228b22;
    border: 2px dashed black;
}

.debug footer{
    background-color: #23272a;
}
.debug .row-bigfoot{
    height: 500px;
}
.debug .row-bigfoot .col-big{
    background-color: #f08080;
}
.debug .row-bigfoot .col-small{
    background-color: #20b2aa;
}
.debug .row-smallfoot{
    background-color: #7fffd4;
}
.debug .row-smallfoot .logo{
    background-color: #ffb6c1;
    border: 2px dashed black;
}
.debug .row-smallfoot .button{
    background-color: #ffb6c1;
    border: 2px dashed black;
}

/* HEADER */

header{
    padding: 15px 0px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

/* HERO */

hero{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

/* MAIN */

section{
    padding: 25px 0px;
}
section:nth-child(even){
    background-color: #d3d3d3;
}
.row{
    display: flex;
    padding: 25px 0px;
}
.row-big{
    display: flex;
    padding: 25px 0px;
}
.col-big{
    width: 60%;
}
.col-small{
    width: 40%;
}
.col-alone{
    width: 100%;
}

/* FOOTER */

.row-bigfoot{
    display: flex;
    padding: 10px 0px;
}
.row-bigfoot .col-big{
width: 70%;
}
.row-bigfoot .col-small{
    width: 30%;
    }

    .row-smallfoot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-top: 40px;
        border: 2px dashed black;
    }